---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import { AuthModal } from "@/components/Auth/AuthModal";

const { user } = Astro.locals;
---

<Layout title="Peerscope - Welcome" hideFooter={true}>
  <main class="flex-grow">
    <HeroSection user={user} />
  </main>
  <AuthModal client:load />
</Layout>
