---
import type { User } from "@supabase/supabase-js";
import { Button } from "@/components/ui/button";
import FeaturesSection from "@/components/FeaturesSection.astro";
interface Props {
  user: User | null;
}

const { user } = Astro.props;
---

<section
  class="relative w-full h-screen bg-cover bg-center bg-no-repeat flex flex-col"
  style="background-image: url('/hero-image.png');"
>
  <div class="absolute"></div>
  <div class="relative z-10 container mx-auto px-4 md:px-6 text-center flex flex-col justify-center flex-grow">
    <div class="max-w-3xl mx-auto">
      <h1
        class="animate-shine bg-clip-text text-transparent bg-[linear-gradient(to_right,theme(colors.black),theme(colors.gray.500),theme(colors.black))] text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl/tight pt-2 pb-2"
      >
        Uwolnij pełny potencjał swojego zespołu
      </h1>
      <p class="mt-6 max-w-2xl mx-auto text-lg text-black md:text-xl">
        Peerscope odsłania ukryte wzorce relacji i komunikacji, które inni wciąż próbują zrozumieć.
      </p>
      <div class="mt-8">
        {
          !user && (
            <Button id="hero-register-button" size="lg" className="transition-transform transform hover:scale-105">
              Zarejestruj się za darmo
            </Button>
          )
        }
      </div>
    </div>
  </div>
  <div class="relative z-10 w-full pb-20 transform -translate-y-24">
    <FeaturesSection />
  </div>
</section>

<style>
  .animate-shine {
    background-size: 200% auto;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    to {
      background-position: -200% center;
    }
  }
</style>

<script>
  import { useAuthModalStore } from "@/lib/stores/authModal.store";

  document.addEventListener("astro:page-load", () => {
    const { openModal } = useAuthModalStore.getState();

    const registerButton = document.getElementById("hero-register-button");

    if (registerButton) {
      registerButton.addEventListener("click", () => {
        openModal("register");
      });
    }
  });
</script>
